
@{
    ViewBag.Title = "GrapesAndWine";
}
<hr />
<h1 id="grapes" style="text-align:center">
    Grapes & Wines

</h1>
<h2 style="text-align:center">Learn more about the major wines and grape varieties of the world.</h2>
<br />

@*<div class="row font-weight-bold text-center">
        <div class="column col-lg-3">

            <img src="~/Content/img/img grapes/Chardonnay-Wine-Bottle-WineFolly-3eb4138.png" style="width:100%">
            Chardonnay
        </div>
        <div class="column col-lg-3">

            <img src="~/Content/img/img grapes/Merlot-Wine-Bottle-WineFolly-3eb4138.jpg" style="width:100%">
            Merlot
        </div>
        <div class="column col-lg-3">

            <img src="~/Content/img/img grapes/Pinot-Noir-Wine-Bottle-WineFolly-3eb4138.jpg" style="width:100%">
            Pinot Noir
        </div>
        <div class="column col-lg-3">

            <img src="~/Content/img/img grapes/Cabernet-Sauvignon-Wine-Bottle-WineFolly-3eb4138.jpg" style="width:100%">
            Cabernet Sauvignon
        </div>

        <div class="column col-lg-3">

            <img src="~/Content/img/img grapes/Malbec-Wine-Bottle-WineFolly-3eb4138.jpg" style="width:100%">
            Malbec
        </div>
        <div class="column col-lg-3">

            <img src="~/Content/img/img grapes/Syrah-Wine-Bottle-WineFolly-3eb4138.jpg" style="width:100%">
            Syrah
        </div>
        <div class="column col-lg-3">

            <img src="~/Content/img/img grapes/Riesling-Wine-Bottle-WineFolly-3eb4138.jpg" style="width:100%">
            Riesling
        </div>
        <div class="column col-lg-3">

            <img src="~/Content/img/img grapes/Sauvignon-Blanc-Wine-Bottle-WineFolly-3eb4138 (1).jpg" style="width:100%">
            Sauvignon Blanc
        </div>
    </div>*@

<div class="container">
    <div class="">


        <h1 class="bg-danger">Chardonnay</h1>
        <p>One of the world's most popular grapes, Chardonnay is made in a wide range of styles from lean, sparkling Blanc de Blancs to rich, creamy white wines aged in oak.</p>

    </div>

    <div>
        <h3>PRIMARY FLAVORS</h3>
        <img src="~/Content/img/img grapes/chardonnay-flavours.png" />
    </div>

    <div>
        <h3>HANDLING</h3>
        <img src="~/Content/img/img grapes/handling.png" />
    </div>

    <div>
        <h3>FOOD PAIRING</h3>
        <p>If you keep spice and flavor intensity slightly lower while accentuating creamy, buttery flavors and textures you will be delighted. This is a wine worthy of lobster.</p>
    </div>


</div>
<br />

<div class="container">
    <div class="">


        <h1 class="bg-danger">Pinot Noir</h1>
        <p>The world's most popular light-bodied red is loved for its red fruit and spice flavors that are accentuated by a long, smooth, soft-tannin finish.</p>

    </div>

    <div>
        <h3>PRIMARY FLAVORS</h3>
        <img src="~/Content/img/img grapes/pinot-flavours.png" />
    </div>

    <div>
        <h3>HANDLING</h3>
        <img src="~/Content/img/img grapes/pinot-handling.png" />
    </div>

    <div>
        <h3>FOOD PAIRING</h3>
        <p> A very versatile food pairing wine given it's higher high acidity and lower tannin. Pinot Noir pairs particularly well with duck, chicken, pork and mushrooms.</p>
    </div>


</div>

<div class="container">
    <div class="">


        <h1 class="bg-danger">Merlot</h1>
        <p>
            Merlot is loved for it's boisterous black cherry flavors, supple tannins, and chocolatey finish. On the high end, it's often mistaken with Cabernet Sauvignon and commonly blended with it.

        </p>

    </div>

    <div>
        <h3>PRIMARY FLAVORS</h3>
        <img src="~/Content/img/img grapes/merlot-flavour.png" />
    </div>

    <div>
        <h3>HANDLING</h3>
        <img src="~/Content/img/img grapes/merlot-handling.png" />
    </div>

    <div>
        <h3>FOOD PAIRING</h3>
        <p> Merlot tastes great alongside roasted foods like pork shoulder, roasted mushrooms or braised short ribs. Try complementing the fruit notes with chimichurri sauce.</p>
    </div>


</div>

