<div class="container-fluid">

    <header>
        <img src="~/Content/img/giphy.gif" class="" width="1000" height="400" />

    </header>

    <!-- Page Content -->
   
        <h1 class="my-4 text-center">Welcome to Vega Winery </h1>
        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <h4 class="card-header bg-danger">Grapes & Wines</h4>
                    <div class="card-body">
                        <p class="card-text">Learn more about the major wines and grape varieties of the world.</p>
                    </div>
                    <div class="card-footer">
                        <a href='@Url.Action("GrapesAndWine", "Home")' class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <h4 class="card-header bg-danger">Wine simplified.</h4>
                    <div class="card-body">
                        <p class="card-text">Those first steps into wine feel daunting. Red or white? Cabernet or Merlot? Light or bold? What to pair with food? Learn the basics while you explore new wines with this user-friendly guide.</p>
                    </div>
                    <div class="card-footer">
                        <a href="@Url.Action("WineSimplified", "Home")" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <h4 class="card-header bg-danger">Wine facts</h4>
                    <div class="card-body">
                        <p class="card-text">Here are 24 facts that will completely change the way you think about red and white wine.</p>
                    </div>
                    <div class="card-footer">
                        <a href="@Url.Action("WineFacts", "Home")" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- Portfolio Section -->

        <h1 class="container bg-danger text-center">WINE 101</h1>
        <br />
        <h2>
            Beginner's Guide to Wine


        </h2>
        <p>
            Whether you're just getting started with wine or work in the industry,
            this page contains many useful resources that will round out your wine knowledge. Let's get started!
        </p>
        <div class="row">
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="~/Content/img/winecard1.jpg" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Wine Basics</a>
                        </h4>
                        <p class="card-text">Most wine is made with grapes, but they're not like the ones you find in the grocery store. Wine grapes (latin name: Vitis vinifera) are smaller, sweeter, have thick skins, and contain seeds. There are over 1,300 wine grape varieties used in commercial production but only about 100 of these varieties make up 75% of the world's vineyards. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="~/Content/img/serving wine.jpg" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Serving Wine and Choosing Glassware</a>
                        </h4>
                        <p class="card-text">Wine is a peculiar beverage. It's handy to know the best practices for serving, handling and storing wine – including choosing the right glasses for your occasion.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="~/Content/img/degustacija.jpg" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Develop Your Sense of Taste</a>
                        </h4>
                        <p class="card-text"> Learn how to pick out flavors in wine and identify pesky wine faults. Additionally, your tasting practice will help you spot great quality too! Definitely check out this how-to video on the 4-step tasting method that's used by professionals. (Don't worry, it's easy to learn!)</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="~/Content/img/bottleholding.jpg" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Handling Wine</a>
                        </h4>
                        <p class="card-text">Wine industry folks enlist additional tips and tricks for handling wine. Below you'll find some of our most popular articles on handling wine like a pro.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="~/Content/img/wineandfood.jpg" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Wine and Food Pairing</a>
                        </h4>
                        <p class="card-text">
                            A great wine and food pairing creates synergy together on your tastebuds. How? Well, the concepts of flavor pairing are moderately complex because they involve hundreds of compounds.

                            Fortunately, the basics of food and wine pairing are easy to learn – and fun to practice!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="~/Content/img/buyingwine.jpg" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Buying Wine</a>
                        </h4>
                        <p class="card-text">
                            The wine marketplace is constantly changing. It's also a big market. There are over 100,000 labels registered with the TTB (Alcohol and Tobacco Tax and Trade Bureau) each year.

                            Despite the vastness of options, there are some tactics you can use to find more of what you like. Consistently.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <!-- /.row -->
        
        <hr>

    
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Vega Winery @DateTime.Now</p>
        </div>
    </footer>
</div>
  

