
@{
    ViewBag.Title = "WineSimplified";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br />
    <h1 class="text-center">Wine Simplified</h1>
    <br />
    <p class="float-left">
        Most wine is made with grapes, but they're not like the ones you find in the grocery store. Wine grapes (latin name: Vitis vinifera) are smaller, sweeter, have thick skins, and contain seeds. There are over 1,300 wine grape varieties used in commercial production but only about 100 of these varieties make up 75% of the world's vineyards.

        Today, the most planted wine grape in the world is Cabernet Sauvignon ("cab-err-nay saw-vin-yon").
    </p>
    <div class="align-content-lg-center">

        <img src="~/Content/img/img grapes/wine basics.png" />
    </div>
</div>

