
@{
    ViewBag.Title = "WineFacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <br />

    <h1 class="text-center">24 Wine Facts</h1>
    <br />
    <div class="align-content-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/uylxQnjAW0c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen style="display:block; margin:auto"></iframe>
    </div>
    <div >
        <ol>
            <li> Did you know that wine has been around for at least 9000 years? Historians say that this was when the earliest vineyards were arranged in the Middle East, which spread around the Mediterranean through the Phoenicians and the Etruscans. The French soon started copying the wine-making process, which is why they sometimes get credit for inventing wine. And that's the first of many facts about wine that I'm gonna share with you today. I'm gonna do this without being pretentious at all! I am wine-drunk though.</li>
            
            <li> The world's oldest bottle of wine is over 1600 years old and can be found at a museum in Germany. It was buried nearby in 350 CE and was found again in 1867.</li>

            <li> Prince Charles has an Aston Martin that runs on biofuel made out of wine. Queen Elizabeth gave Charles the original car when he turned 21. Then in 2008, it was converted to run on old wine.</li>

            <li> Some historians believe that the Roman Empire fell thanks in part to lead poisoning. If that's true, wine probably had a lot to do with it. The Romans cooked grape juice in lead pots to sweeten their wine ...and to poison their wine.</li>

            <li> According to the Wine Institute, where I would like to work, Vatican City drinks the most wine per capita at 74 liters of wine per person per year. That's a full two times more wine per capita than Italy.</li>

            <li> If California was its own country, it would be the fourth largest producer of wine after only France, Italy, and Spain.</li>

            <li> Speaking of which, in 1976, there was a blind wine tasting in France which has been dubbed the Judgment of Paris. Nine French wine experts judged a bunch of wines from both California and France, and wound up rating Californian wine as best in both the white and red wine categories. And after the results were published in TIME magazine, the French wine industry banned the event's organizer from participating in their wine tasting tour.</li>

            <li> Plato wrote that wine should only be allowed in moderation between the ages of 18 and 30. After he hit 40, it'd be a free-for-all because he believed wine was rejuvenating in older people. I'm looking forward to 40.</li>

            <li> When the movie Sideways was released, consumers started buying according to the main character's taste. Less people bought Merlot than usual, and more people bought Pinot Noir. Experts call this the "Sideways Effect." No word yet on whether Titus Andromedon has a similar effect on wine drinkers. "Pinot Noir/Mid-sized car/Pinoooooooooooot Nooooooooooir!"</li>

            <li> In 2003, a man named Richard Juhlin shocked the wine tasting world at a blind tasting competition for champagne in Paris. At the event, Juhlin was able to identify the brand, producer, and year of 43 out of 50 different champagnes. The person who came in second place was only able to identify 4.</li>

            <li> It's a misconception that Charles Shaw wine, a.k.a. Two Buck Chuck, is so cheap because airlines needed to dispose of their wine after corkscrews were banned. It also has nothing to do with him trying to ruin his ex-wife's winery business. The boring truth is, people were drinking less wine in America, so Shaw was able to sell his for cheap. And nowadays they produce it in huge volume and keep all their prices down.</li>

            <li> It only costs two dollars, but in 2004, Two Buck Chuck won the top prize at the 28th annual International Eastern Wine Competition. It beat out 2300 wines.</li>

            <li> Hippocrates, who's known as the father of western medicine, recommended wine as a treatment for many ailments, including diarrhea, lethargy, and labor pains. He's my favorite doctor.</li>

            <li> In a 1997 experiment, researchers alternated German and French music in a supermarket for two weeks. They found that customers were more likely to buy French wine when they were listening to French music and were more like to buy German wine when listening to German music.</li>

            <li> White Zinfandel was discovered by accident in 1975 by someone working at Sutter Home. According to the company, a worker took some less concentrated Red Zinfandel grape juice and let it ferment because he was trying to make a stronger flavored Zinfandel. He failed.</li>

            <li> Some people enjoy mixing red wine and Coke together. In Spain, the drink is known as Kalimotxo. I learned this from the Real Housewives of New Jersey. As I learn everything.</li>

            <li> Speaking of wine and Coke, Michael Jackson used to drink wine in Diet Coke cans because he didn't want his children to see him drinking.</li>

            <li> OK, I'm gonna finish up by telling you some differences between red wine and white wine. Red wine's red, white wine's white. According to a study done by Cornell University's Food and Brand Lab, wine drinkers typically pour 9 percent more into a glass when the wine is white rather than red—also learned that from the Real Housewives.</li>

            <li>
                 The general rule you may know is that red wine goes with red meat like beef, lamb, and venison.  And white wine goes well with white meat like poultry and fish. Then a sweeter wine works with dessert, so wine experts recommend you pay attention to the sauce and flavoring in a dish because those rules can change.
            </li>

            <li>
                 White and red wine are actually supposed to be served at different temperatures too. White wine is best at 45-55°F. If it's a fuller white wine though, 55-60 degrees is better. Red wine, on the other hand, should be at room temperature, so 59-64 degrees. Or when I'm in the room, 90 ... cause it's hot.
            </li>
            <li>
                 A red wine glass should actually have an edge that's angled slightly inward. This is supposed to make it easier to smell the wine's aromas.
            </li>
            <li>
                 As for how it's made, both red and white grapes produce the same colored juice—clear. The grape's skin is the reason that red wine is red. Red grape skins have several thousand times the anthocyanin pigments, which turn the wine red in production.
            </li>
            <li>
                 Another notable difference, according to the Mayo Clinic, quote, "The alcohol and certain substances in red wine called antioxidants may help prevent heart disease." It's believed that drinking red wine in moderation might increase levels of HDL cholesterol, which you might know as the good cholesterol. And by moderation they mean up to one glass of wine per day for women and up to two for men.
            </li>
            <li> Finally, I return to the salon to tell you that in 2001, an experiment was conducted with 54 undergraduates who were studying wine tasting and wine making at the University of Bordeaux. The researcher asked them to describe one glass of white wine and one glass of red wine. They didn't know that the glass of red wine was actually white wine dyed red. Not one of the 54 students realized they were drinking white wine. They described it as having all the features of red. At least they weren't graduate students.</li>
        </ol>
    </div>
</div>

