@model IEnumerable<Winery.Models.AdminViewModel>

@{
    ViewBag.Title = "Index";
}
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<div class="container" id="boxes">
    <div class="row">

        <div class="col-md-4">
            <div class="card text-center bg-secondary text-white my-3">
                <div class="card-body">
                    <h3>WINE</h3>
                    <h1 class="display-4">
                        <i class="fa fa-pencil"></i>
                    </h1>
                    <a href="@Url.Action("Index","AdminWine")" class="btn btn-outline-light btn-lg">MANAGE</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center bg-info text-white my-3">
                <div class="card-body">
                    <h3>TYPES OF WINE</h3>
                    <h1 class="display-4">
                        <i class="fa fa-barcode"></i>
                    </h1>
                    <a href="@Url.Action("GetAllTypes","Admin")" class="btn btn-outline-light btn-lg">MANAGE</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center bg-success text-white my-3">
                <div class="card-body">
                    <h3>SUBTYPES OF WINE</h3>
                    <h1 class="display-4">
                        <i class="fa fa-pencil"></i>
                    </h1>
                    <a href="@Url.Action("GetAllSubTypes","Admin")" class="btn btn-outline-light btn-lg">MANAGE</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center bg-primary text-white mb-3">
                <div class="card-body">
                    <h3>BOTTLESIZE</h3>
                    <h1 class="display-4">
                        <i class="fa fa-pencil"></i>
                    </h1>
                    <a href="#" class="btn btn-outline-light btn-lg">MANAGE</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center bg-primary text-white mb-3">
                <div class="card-body">
                    <h3>REGION</h3>
                    <h1 class="display-4">
                        <i class="fa fa-pencil"></i>
                    </h1>
                    <a href="#" class="btn btn-outline-light btn-lg">MANAGE</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center bg-primary text-white mb-3">
                <div class="card-body">
                    <h3>COUNTRY</h3>
                    <h1 class="display-4">
                        <i class="fa fa-pencil"></i>
                    </h1>
                    <a href="#" class="btn btn-outline-light btn-lg">MANAGE</a>
                </div>
            </div>
        </div>





    </div>
</div>
