@model Winery.Models.WineViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="container" id="boxes">
    <a class="btn btn-lg btn-warning btn-block py-5 mt-5" href="@Url.Action("Create", "AdminWine")">ADD WINE</a>
       

    <div class="row m-5">
        
            <h3 class="pr-5">All wines</h3>      
        
            <h3 class="pr-5">
                <i class="fa fa-hand-o-right" aria-hidden="true">
                </i>@{Html.RenderAction("CountAll", "Admin"); }
            </h3>     
      
            <a class="btn  btn-info" href="@Url.Action("wines","AdminWine")">List all wines</a>        
    </div>
           
    
@Html.Action("TypesMenuPartial","AdminWine")
</div>


