@model IEnumerable<Winery.Models.CountryViewModel>

@{
    ViewBag.Title = "Country";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<div class="row">
    <div class="col-md-4 border-right">
        <div class="form-group">
            <label class="display-4 text-left" for="inputsm">Add new country</label>
            <input class="form-control input-form-control-lg" id="country" type="text" placeholder="Enter country name">
            <button class="btn btn-md  mt-2 text-center" onclick="addCountry()">Add</button>
        </div>
    </div>
    <div class="col-md-6"
         id="alertdiv"></div>

</div>

<table class="table" id="countryTable">
    <tr>
       <th>
            @Html.DisplayNameFor(model => model.CountryName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="id_@item.CountryID">
            <td>
                @Html.EditorFor(modelItem => item.CountryName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteCountry", new { id = item.CountryID }, new { @class = "delete" })
            </td>
        </tr>
    }

</table>
<script>
       function addCountry() {
        var country = $("#country").val();
        var alertdiv = $("#alertdiv");

        var data = { CountryName: country};
          $.ajax({
            url: '@Url.Action("AddCountry","AdminRegionCountry")',
                type: "Post",
                data:data,

              success: function (response) {
                  //alert("Country added");
                  var data = response.trim();

                  if (data === "This country is already on the list")
                  {
                      alertdiv.html(`<div class="alert alert-danger display-4 mt-4" role="alert">
                          This country is already on the list </div >`);                     
                  }
                  else {
                      alertdiv.html(`<div class="alert alert-success display-4 mt-5" role="alert">
                            You successfully added new country.</div>`);

                  
                  var table = $("#countryTable tbody");
                  var toAppend = $("#countryTable tbody tr:last").clone();
                  toAppend.attr("CountryID", "id_" + response);
                  toAppend.find("#item_CountryName").val(country);
                  toAppend.find("a.delete").attr("href", "/adminregioncountry/deletecountry/" + response);
                   table.append(toAppend);
                  }
                }
            });
    }   

  

</script>

