span.ajax-text{
    display:none;
}


.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row{
    text-align:center;
    text-decoration:wavy;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

