span.ajax-text{
    display:none;
}


.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row{
    text-align:center;
    text-decoration:wavy;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.ib {
    display: inline-block !important;
}
.loginRow {
    background-image: url("img/degustacija.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}
span.loader {
    display: none;
}

span.ajaxmsg {
    
    padding: 5px;
    display: none;
    position: relative;
    bottom: 0;
}

.ajaxcart {
    position: relative;
    top: 5px;
}
.icons{
    font-size:40px;
}

.menu{
    font-size:20px;
}
