

    #primary

{
    background-image: url('../Content/img/index.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.7;
    height: 300px;
}



    
}

span.ajax-text{
    display: none;
}


